@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Changa:wght@700&family=Poppins:ital,wght@1,500&family=Shizuru&display=swap');
body{
    font-family: 'Alata', sans-serif;
}


/*-----------
 header-style
 ------------- */

 /* Menu Bar */

 .influence{
     display: flex;
     justify-content: space-between;
     margin-left: 40px;
     color: steelblue;

 }
 nav ul li {
    list-style-type: none;
     margin-right: 65px;
     display: inline;

 }
 nav ul li a{
     text-decoration: none;
 }
 /*-----------------
  The Journey Starts
 ------------- */
 .introduction{
     display: flex;
     align-items: center;
 }
 .start-journey{
     width: 50%;
     padding-left: 50px;
 }
 .info{
     font-size: 50px;
     font-weight: 700;
     
     color: blanchedalmond;
 }
 .introduction img{
     height: 600px;
     width: 600px;
 }
 .button{
    height: 30px;
    width: 10%;
    padding: 10px;
    background-color: rgb(179, 47, 73);
    border-radius: 15px;
 }
 .button a{
    font-size: 12px;
    color: white;
    text-decoration: none;
 }
 /*------------------
  Products-Style
  --------------------*/
  h4{
    text-align: center;
    font-size: 40px;
    color: #3A3A3A;
  }
  .container{
    background-color: rgba(161, 159, 159, 0.116);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-column-gap: 20px ;
    grid-row-gap: 20px ;
  
  }
  .product{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 17px;

     /* margin-left: 20%; */
     /* margin-right: 30%; */
     }
     /* footer styles */

     footer{
        color: honeydew;
        background-color: salmon;
        text-align: center;
        padding: 10px;
    }
    @media (max-width: 576px) {
        
        .introduction{
          display: grid;
  
          align-items: center; }
          .product{
              width:70%;
          }

        .container{
           display: grid; 
            grid-template-columns: repeat(1,1fr);

        }
        /* ------------------
        Media Query
        ---------------------- */
        /* Mobile Devices*/

         @media only screen and (max-width: 688px;) 
        {
            /* influence part */
            flex-direction: row;
            align-items: center;
            justify-content: center;
            /* introduction part */
            .introduction{
                flex-direction: column;
                width: 100%;
            }
            .introduction, .container{
                grid-template-columns: repeat(1, 1fr);
            } 
           
        }
        /* Tablet Devices */
        @media only screen and (min-width: 668px) and (max-width:992px) {
           
            .introduction{
                width: 100%;
            }
            .container, .introduction{
                grid-template-columns: repeat(1, 1fr);
            }
            
        }
         
             
         